* {
  box-sizing: border-box;
}

button{
  cursor: pointer;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #f4f4f4;
}

#app {
  display: flex;
  min-height: 100vh;
}

#sidebar {
  width: 220px;
  background: #1f2933;
  color: white;
  padding: 1rem;
}

#sidebar button {
  margin-top: 0.5rem;
}

#project-list {
  padding: 15px;
  cursor: pointer;
}

main {
  flex: 1;
  padding: 1rem;
}


.todo-item {
  background: white;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-left: 6px solid gray; /* fallback */
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#todo-list {
  list-style: none;
  padding: 0;
  margin: 1rem 0 0 0;
}

#todo-list input {
  margin-right: .2rem;
}

#todo-list select {
  margin-left: .6rem;
}



#todo-list button {
  background: transparent;
  font-weight: bold;
  border: none;
}


.priority-high {
  border-left-color: red;
}

.priority-medium {
  border-left-color: orange;
}

.priority-low {
  border-left-color: green;
}


.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

#project-list button{
  margin-left: auto;
  background: transparent;
  border: none;
  color: red;
  font-weight: bold;
}

#todo-priority {
  margin: 0.5rem;
  height:1.4rem
}

@media (max-width: 600px) {
  #app {
    flex-direction: column;
  }

  #sidebar {
    width: 100%;
  }
}
